<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru"> <!--<![endif]-->
<head th:replace="~{fragments/head_fragment :: headFragment (pageTitle=#{common.authors})}"></head>
<body class="Site">
<header th:replace="~{fragments/header_fragment:: headerFragment}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title" th:text="#{common.authors}">Авторы
            </h1>
            <div class="Section">
                <div class="Authors">
                    <div class="Authors-links">
                        <a class="Authors-link"
                           href="#a" th:each="authorsList : ${authorsMap}"
                           th:href="'#' + ${#strings.toLowerCase(authorsList.key)}" th:text="${authorsList.key}">
                            А
                        </a>
                    </div>
                    <div class="Authors-block" th:each="authorsList : ${authorsMap}">
                        <h2 class="Authors-title" id="a" th:id="${#strings.toLowerCase(authorsList.key)}"
                            th:text="${authorsList.key}">
                            А
                        </h2>
                        <div class=" Authors-letter">
                            <div class="Authors-item" th:each="author : ${authorsList.value}">
                                <a href="/authors/slug.html" th:text="${author.lastName + ' ' + author.firstName}">
                                    #
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>